<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
		<Property name="LOG_LEVEL_PATTERN">%5p</Property>
		<Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
		<Property name="CONSOLE_LOG_PATTERN">[%X{MDC_REQUEST_ID}] %clr{%d{${LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
		<Property name="FILE_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}} ${LOG_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
		<Property name="LOG_PATH">./data/logs</Property>
		<Property name="FILEBEAT_LOG_PATH">/workspace/logs/filebeat</Property>
		<Property name="LOG_FILE">application.log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}" />
		</Console>
		<RollingFile name="LogstashFile" fileName="${sys:FILEBEAT_LOG_PATH}/logstash_${date:yyyy-MM-dd}.log" filePattern="${sys:LOG_PATH}/$${date:yyyy-MM}/lsh-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<LogstashLayout dateTimeFormatPattern="yyyy-MM-dd'T'HH:mm:ss.SSSZZZ"
							eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"
							prettyPrintEnabled="false"
							stackTraceEnabled="false">
				<EventTemplateAdditionalFields>
					<KeyValuePair key="application" value="01Logging"/>
				</EventTemplateAdditionalFields>
			</LogstashLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogstashFile" />
		</Root>
	</Loggers>
</Configuration>